@import "tailwindcss";

@theme {
  --color-med-primary: #0F766E; /* Teal 700 */
  --color-med-primary-dark: #115E59; /* Teal 800 */
  --color-med-secondary: #EBF4FF; /* Light blue accent */
  --color-med-dark: #0f172a; /* Slate 900 */
  --color-med-light: #FAFAFA;
  --color-med-gray: #F8FAFC;
  --color-med-accent: #D4AF37; /* Champagne Gold */
  
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

html, body {
  background-color: var(--color-med-gray);
  color: var(--color-med-dark);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}