---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue';
import Hero from '../components/Hero.vue';
import Services from '../components/Services.vue';
import Specialties from '../components/Specialties.vue';
import Staff from '../components/Staff.vue';
import Testimonials from '../components/Testimonials.vue';
import Appointment from '../components/Appointment.vue';
import Footer from '../components/Footer.vue';
---

<Layout>
	<Header client:load />
	<main>
		<Hero client:load />
		<Services client:visible />
		<Specialties client:visible />
		<Staff client:visible />
		<Testimonials client:visible />
		<Appointment client:visible />
	</main>
	<Footer />
</Layout>
